<div class="container about-top-wrapper">
  <div class="card-body">
     <div class=" col-12">

     </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="img_show">
        <div class="a">
          <div class="background"><img class="c"></div>
          <div class="background"><img class="d"></div>
          <div class="background"><img class="e"></div>
          <div class="background"><img class="f"></div>
          <div class="background"><img class="g"></div>
          <div class="background"><img class="h"></div>
          <div class="background"><img class="i"></div>
          <div class="background"><img class="j"></div>
          <div class="background"><img class="k"></div>
          <div class="background"><img class="l"></div>
          <div class="background"><img class="m"></div>
          <div class="background"><img class="n"></div>
        </div>
        <div class="row">
          <div class="col-6">
            <ul>
              <li>
                <%= link_to look_images_look0_path do %>
                  <img class="box-1">
                <% end %>
              </li>
              <li>
                <%= link_to look_images_look1_path do %>
                  <img class="box-2">
                <% end %>
              </li>
              <li>
                <%= link_to look_images_look0_path do %>
                  <img class="box-3">
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <div class="image-item">
                <%= link_to look_images_look0_path do %>
                  <img class="box-4">
                <% end %>
              </div>
              <div class="image-item">
                <%= link_to look_images_look1_path do %>
                  <img class="box-5">
                <% end %>
              </div>
              <div class="image-item">
                <%= link_to look_images_look0_path do %>
                  <img class="box-6">
                <% end %>
              </div>
             </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







