<div class="container about-top-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="img_show">
        <div class="a">
          <!--javascript-->
          <div class="background"><img class="c"></div>
          <div class="background"><img class="d"></div>
          <div class="background"><img class="e"></div>
          <div class="background"><img class="f"></div>
          <div class="background"><img class="g"></div>
          <div class="background"><img class="h"></div>
          <div class="background"><img class="i"></div>
          <div class="background"><img class="j"></div>
          <div class="background"><img class="k"></div>
          <div class="background"><img class="l"></div>
          <div class="background"><img class="m"></div>
          <div class="background"><img class="n"></div>
          <div class="background"><img class="o"></div>
          <div class="background"><img class="p"></div>
          <div class="background"><img class="q"></div>
          <div class="background"><img class="r"></div>
          <div class="background"><img class="s"></div>
          <div class="background"><img class="t"></div>
          <div class="background"><img class="u"></div>
          <div class="background"><img class="v"></div>
          <div class="background"><img class="w"></div>
        </div>

        <!--look_image-->
        <div class="row">
          <div class="col-6">
            <%= link_to look_images_look1_path do %>
              <img class="box-1">
            <% end %>

            <%= link_to look_images_look2_path do %>
              <img class="box-2">
            <% end %>

            <%= link_to look_images_look3_path do %>
              <img class="box-3">
            <% end %>

            <%= link_to look_images_look4_path do %>
              <img class="box-4">
            <% end %>

            <%= link_to look_images_look5_path do %>
              <img class="box-5">
            <% end %>

            <%= link_to look_images_look6_path do %>
              <img class="box-6">
            <% end %>

            <%= link_to look_images_look7_path do %>
              <img class="box-7">
            <% end %>

            <%= link_to look_images_look8_path do %>
              <img class="box-8">
            <% end %>

            <%= link_to look_images_look9_path do %>
              <img class="box-9">
            <% end %>

            <%= link_to look_images_look10_path do %>
              <img class="box-10">
            <% end %>

          </div>

          <div class="col-6">

            <%= link_to look_images_look11_path do %>
              <img class="box-12">
            <% end %>

            <%= link_to look_images_look12_path do %>
              <img class="box-13">
            <% end %>

            <%= link_to look_images_look13_path do %>
              <img class="box-14">
            <% end %>

            <%= link_to look_images_look14_path do %>
              <img class="box-15">
            <% end %>

            <%= link_to look_images_look15_path do %>
              <img class="box-16">
            <% end %>

            <%= link_to look_images_look16_path do %>
              <img class="box-17">
            <% end %>

            <%= link_to look_images_look17_path do %>
              <img class="box-18">
            <% end %>

            <%= link_to look_images_look18_path do %>
              <img class="box-19">
            <% end %>

            <%= link_to look_images_look19_path do %>
              <img class="box-20">
            <% end %>

            <%= link_to look_images_look20_path do %>
              <img class="box-21">
            <% end %>

           </div>

           <div class = col-lg-12>
             <%= link_to look_images_look0_path do %>
                <img class="box-22">
             <% end %>
           </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>






