<!DOCTYPE html>
<html>
  <head>
    <title>SCARE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <main>


            <%= yield %>


      </div>
    </main>


  </body>

   <footer>
  <div class="copyright">
    <p class="mb-0">& c o p y 2 0 2 1 - S c a r e </p>
  </div>
  <div class="social">
    <div class= shoppage><%= link_to  'https://www.instagram.com/yoshiya._/' do %>
    <div class="footertext">Shoppage</div>
    <%end%>
    </div>
    <div class= linked><%= link_to 'https://www.instagram.com/yoshiya._/' do %>
    <div class="footertext">Instgram</div>
    <%end%>
    </div>


  </div>
</footer>
</html>